* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;

    @media (max-width: 1190px) {
        width: 100%;
    }
}
// header
.header-wrapper {
    width: 100%;
    background-color: #80ba27;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 60px;
            background-color: #ffffff;
            border-bottom: 1px solid #ffcc00;

            img {
                width: 60px;
                height: 50px;
            }
        }
        .header-menu {
            display: flex;
            align-items: center;

            .header-menu__list {
                display: flex;
                align-items: center;

                @media (max-width: 1190px) {
                    display: block;
                }

                .header-menu__list-item {
                    height: 60px;
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    color: #ffffff;
                    transition: all 0.3s;

                    @media (max-width: 1190px) {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 40px;
                        padding: 0 10px;
                    }

                    a {
                        color: inherit;
                        font-weight: 400;
                    }

                    &:hover {
                        color: #80ba27;
                        background-color: #ffffff;
                    }
                }
            }
            .phone-number {
                display: flex;
                align-items: center;
                padding: 0 20px;
                height: 60px;
                background-color: #63901e;

                .phone-number__icon {
                    transform: rotate(-50deg);
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    fill: #ffffff;
                }

                .phone-number__number {
                    color: #ffffff;
                    display: block;
                }
            }

            .header-btn {
                display: block;
                padding: 12px 16px;
                line-height: 1;
                background: #ffcc00;
                border-radius: 4px;
                color: #63901e;
                font-size: 12px;
                font-weight: bold;
                transition: all 0.3s;
                margin-left: 20px;

                &:hover {
                    transform: scale(1.05);
                }

                @media (max-width: 1190px) {
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin-left: 0;
                }
            }

            @media (max-width: 1190px) {
                display: none;
                position: fixed;
                left: 0;
                top: 60px;
                width: 100%;
                height: 100vh;
                background-color: #63901e;
                padding: 30px 10px;
                z-index: 999;
            }
        }
    }
}
.openMenuBtn {
    display: none;

    .openMenuBtn_line {
        display: block;
        min-width: 100%;
        min-height: 2px;
        background-color: #ffffff;
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (max-width: 1190px) {
        display: block;
        width: 30px;
        margin-right: 10px;
        cursor: pointer;
    }
}
.header-menu__close {
    display: none;

    @media (max-width: 1190px) {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
}
// main-wrapper
.main-wrapper {
    width: 100%;
    padding: 100px 0;
    background-image: url(../img/main-bg.jpeg);
    background-repeat: repeat;

    @media (max-width: 1190px) {
        padding: 100px 20px;
    }
    @media (max-width: 1190px) {
        padding: 50px 20px;
    }

    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 600px) {
            display: block;
        }

        .main-item {
            width: 45%;

            @media (max-width: 600px) {
                width: 100%;
            }

            .main-item__title {
                font-size: 70px;
                font-weight: 400;
                margin-bottom: 40px;

                @media (max-width: 1190px) {
                    font-size: 50px;
                }
                @media (max-width: 768px) {
                    font-size: 32px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                .main-item__title-1 {
                    display: inline-block;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                    padding: 12px 15px;
                    color: #fff;
                    background-color: #80ba27;
                }
                .main-item__title-2 {
                    position: relative;
                    top: -10px;
                    left: 150px;
                    color: #80ba27;
                    display: inline-block;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                    padding: 12px 15px;
                    background-color: #fff;

                    @media (max-width: 768px) {
                        top: -5px;
                        left: 60px;
                        padding: 12px 15px;
                    }
                }
            }

            .main-list {
                list-style-type: none;

                .main-list__item {
                    position: relative;
                    padding-left: 70px;
                    margin-bottom: 40px;

                    p {
                        font-size: 28px;
                        font-weight: 600;
                        line-height: 1.2;
                        color: #3a3a3a;

                        @media (max-width: 1190px) {
                            font-size: 20px;
                        }
                        @media (max-width: 450px) {
                            font-size: 16px;
                        }
                    }

                    &::after {
                        content: "✓";
                        color: #6cbd00;
                        font-size: 56px;
                        position: relative;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        .main-item__img {
            display: flex;
            justify-content: center;

            img {
                @media (max-width: 880px) {
                    display: block;
                    width: 100%;
                }
                @media (max-width: 600px) {
                    width: 70%;
                    margin: 0 auto;
                }
            }
        }
    }
}
.formWrap {
    padding: 60px 20px;
    background-color: #80ba27;

    .formWrap-title {
        font-size: 32px;
        color: #ffffff;
        font-weight: 500;
        text-align: center;
        line-height: 1.6;
        margin-bottom: 32px;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    .modal-form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: block;
            width: 100%;
        }

        .input {
            display: block;
            width: 32%;
            background-color: #ffffff;
            outline: none;
            padding: 12px 18px;
            border: 1px solid transparent;
            border-radius: 4px;

            @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .modal-form__submit {
        display: block;
        width: 32%;
        padding: 12px 18px;
        border-radius: 4px;
        outline: none;
        font-weight: bold;
        border: 1px solid transparent;
        cursor: pointer;
        background-color: #ffcc00;
        color: #63901e;
        text-transform: uppercase;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}
.assortmentWrapp {
    width: 100%;
    padding: 60px 20px;

    .assortmentTitle {
        text-align: center;
        font-size: 32px;
        color: #80ba27;
        margin-bottom: 32px;
    }
    .assortment-list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 100%;

        @media (max-width: 968px) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        @media (max-width: 768px) {
            justify-content: center;
        }

        .assortment-list__item {
            position: relative;
            box-sizing: border-box;
            padding: 16px;
            margin-right: 10px;
            width: 100%;
            background-color: #f4f4f4;
            transition: all 0.3s;
            border-radius: 4px;
            cursor: pointer;

            @media (max-width: 968px) {
                width: 30%;
                margin-bottom: 20px;
            }
            @media (max-width: 768px) {
                width: 46%;
                margin: 0 6px 6px 0;
            }
            @media (max-width: 520px) {
                width: 100%;
                margin: 0 0 20px 0;
            }

            &:last-child {
                margin-right: 0;
            }
            &:hover {
                transform: scale(1.02);
                background-color: #eaeaea;
            }

            .assortment-list__img {
                width: 100%;
                height: 180px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;

                img {
                    display: block;
                    width: 60%;
                }

                @media (max-width: 520px) {
                    height: auto;
                }
            }
            .assortment-list__text {
                padding-left: 10px;
                color: #63901e;
                font-size: 16px;
                line-height: 1.4;
                font-weight: 700;
            }
        }
    }
}
.services {
    background-color: #f4f4f4;
    padding: 50px 0;
    position: relative;
    box-sizing: border-box;

    @media (max-width: 1000px) {
        padding: 40px 10px;
        position: relative;
        box-sizing: border-box;
        margin: 0;
    }

    .servicesTitle {
        text-align: center;
        font-size: 32px;
        color: #80ba27;
        margin-bottom: 32px;

        @media (max-width: 550px) {
            text-align: left;
        }
    }

    .advantages_list {
        display: flex;
        flex-wrap: wrap;

        .advantages_item {
            width: 30%;
            position: relative;
            padding: 0 10px 50px 10px;
            display: flex;
            align-items: center;

            @media (max-width: 1000px) {
                width: 50%;
            }
            @media (max-width: 720px) {
                width: 100%;

                &:last-child {
                    padding: 0 10px 0 10px;
                }
            }

            .advantages_icon {
                margin-right: 20px;
                .svg-icon {
                    width: 70px;
                    height: 70px;
                }
            }
            .advantages_itemContent {
                .advantages_title {
                    color: #547b1a;
                    font-weight: 700;
                    font-size: 16px;
                    margin-bottom: 8px;
                }
            }
        }
    }
}
.footer {
    width: 100%;
    padding: 50px 0;
    background-color: #80ba27;

    @media (max-width: 1200px) {
        padding: 50px 10px;
        position: relative;
        box-sizing: border-box;
    }

    .footer-title {
        font-size: 32px;
        color: #ffffff;
        margin-bottom: 20px;
    }
    .footer-content {
        .footer-content__item {
            margin-bottom: 32px;

            p {
                color: #ffffff;
                font-size: 20px;
                display: block;
                margin-bottom: 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
        .number {
            position: relative;
            padding-left: 20px;

            a {
                color: #ffffff;
                font-size: 20px;
                display: block;
                margin-bottom: 10px;

                &::before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 4px;
                    height: 100%;
                    content: "";
                    background-color: #ffcc00;
                }
            }
        }
    }
}

@keyframes callNumber {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(0);
    }
}
.call {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: 70px;
    background-color: #ff8b00;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    // animation-name: callNumber;
    animation: callNumber 1.75s linear 2.5s infinite alternate none;
    z-index: 99;

    .icon-svg-call {
        width: 30px;
        height: 30px;
        fill: #eaeaea;
    }
}
.modalWrapp {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    // filter: ;
    backdrop-filter: blur(4px);

    .modalWrappOvrlay {
        width: 375px;
        position: relative;
        display: block;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 20px;

        .modalWrappOvrlay_title {
            text-align: center;
            margin-bottom: 20px;
        }
        .modalWrappOvrlay_close {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }
        .modal-form {
            input {
                display: block;
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                border: 1px solid transparent;
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                outline: none;
            }
            button {
                outline: none;
                display: block;
                width: 160px;
                margin: 20px auto 0 auto;
                padding: 8px 0;
                cursor: pointer;
                border: 1px solid transparent;
                background-color: #6cbd00;
                color: #ffffff;
            }
        }
    }
}
